<ion-view title="Daily Questions">
  <ion-content class="has-header padding">

  <div class="list card">
    <div class="item item-divider">
      How do you feel compared to yesterday?
    </div>
    <div class="item item-text-wrap">
      <div class="row">
        <div class="col col-25">
          <form connect="Wellness!rows">
            <input type="hidden" value="{{today}}" connect="Wellness!col(date)">
            <input type="hidden" value="-1" connect="Wellness!col(delta)")>
            <button class="button button-full button-energized">Worse</button>
          </form>
        </div>
        <div class="col col-50">
          <form connect="Wellness!rows">
            <input type="hidden" value="{{today}}" connect="Wellness!col(date)">
            <input type="hidden" value="0" connect="Wellness!col(delta)")>
            <button class="button button-full button-positive">Same</button>
          </form>
        </div>
        <div class="col col-25">
          <form connect="Wellness!rows">
            <input type="hidden" value="{{today}}" connect="Wellness!col(date)">
            <input type="hidden" value="1" connect="Wellness!col(delta)")>
            <button class="button button-full button-balanced">Better</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="list card">
    <div class="item item-divider">
      How much do you weigh?
    </div>
    <div class="item item-text-wrap">
      <form connect="Weight!rows">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="number" placeholder="Weight" connect="Weight!col(weight)">
          </label>
          <input type="hidden" value="{{today}}" connect="Weight!col(date)">
          <button class="button button-full button-positive">Record</button>
        </div>
      </form>
    </div>
  </div>

  </ion-content>
</ion-view>
