<ion-view title="Record Meal or Snack">
  <ion-content class="has-header padding">

    <div class="list card">
      <div class="item item-divider">
        I Just Ate
      </div>
      <div class="item item-text-wrap">

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         ..and it had <span style="font-weight: bold; color: green">green</span>
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         ..and it had <span style="font-weight: bold; color: brown">meat</span>
      </li>

      <button class="button button-full button-positive">Record</button>
    </div>

  </ion-content>
</ion-view>
