<ion-view title="Daily Questions">
  <ion-content class="has-header padding">

  <div class="list card">
    <div class="item item-divider">
      How do you feel compared to yesterday?
    </div>
    <div class="item item-text-wrap">
      <div class="row">
        <div class="col col-25">
          <form data-cts="this :graft sheet|Wellness!items {createNew:true};">
            <input type="hidden" value="{{today}}" data-cts="this :is sheet|Wellness!.date;">
            <input type="hidden" value="-1" data-cts="this :is sheet|Wellness!.delta;">
            <button class="button button-full button-energized">Worse</button>
          </form>
        </div>
        <div class="col col-50">
          <form data-cts="this :graft sheet|Wellness!items {createNew:true};">
            <input type="hidden" value="{{today}}" data-cts="this :is sheet|Wellness!.date;">
            <input type="hidden" value="0" data-cts="this :is sheet|Wellness!.delta;">
            <button class="button button-full button-positive">Same</button>
          </form>
        </div>
        <div class="col col-25">
          <form data-cts="this :graft sheet|Wellness!items {createNew:true};">
            <input type="hidden" value="{{today}}" data-cts="this :is sheet|Wellness!.date;">
            <input type="hidden" value="1" data-cts="this :is sheet|Wellness!.delta;">
            <button class="button button-full button-balanced">Better</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="list card">
    <div class="item item-divider">
      How much do you weigh?
    </div>
    <div class="item item-text-wrap">
      <form data-cts="this :graft sheet|Weight!items {createNew:true};">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="number" placeholder="Weight" data-cts="this :is sheet|Weight!.weight;">
          </label>
          <input type="hidden" value="{{today}}" data-cts="this :is sheet|Weight!.date;">
          <button class="button button-full button-positive">Record</button>
        </div>
      </form>
    </div>
  </div>

  </ion-content>
</ion-view>
