<ion-view title="Record Meal or Snack">
  <ion-content class="has-header">
    <form class="padding" connect="Meals!rows">
    <input type="hidden" value="{{today}}" connect="Meals!col(date)">
    <input type="hidden" value="{{theTime}}"  connect="Meals!col(time)">

    <div class="list card">
      <div class="item item-divider">
        I Just Ate
      </div>
      <div class="item item-text-wrap">
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" connect="Meals!col(green)">
           </label>
           ..and it had <span style="font-weight: bold; color: green">green</span>
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" connect="Meals!col(meat)">
           </label>
           ..and it had <span style="font-weight: bold; color: brown">meat</span>
        </li>
        <button class="button button-full button-positive">Record</button>
      </div>
    </div>
  </form>

  </ion-content>
</ion-view>
